
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf')  format('truetype');
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fcd04b;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
}

.score-board, .commands-board, .pin-board, .menu-board , .next-player-board, fieldset {
    flex: 1;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

.score {
    flex: 1;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}

h1 {
    font-size: 4em;
    text-shadow: -3px 0 #f29e0d, 0 3px #f29e0d, 3px 0 #f29e0d, 0 -3px #f29e0d;
    color: white;
    margin: 0;
}


.pin {
    flex: 1;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    margin: 5px;
    cursor: pointer;
    aspect-ratio: 1;
    flex-wrap: wrap;
    align-items: center;
}

.pin-value {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    height: calc(100vh/8);
    font-size: 3em;
    aspect-ratio: 1;
    border: 4px solid #fcad26;
    background: white;
    color: #f29e0d;
    border-radius: 50%;
    flex-direction: column;
    flex-wrap: wrap;
}

.selected {
    background: #f29e0d;
    color: white;
}

.btn.selected {
    color: #f29e0d;
    background: white;
}


button {
    flex: 1;
    border: 1px solid #fcad26;
    min-width: calc(50vw - 70px);
    font-family: inherit;
    font-size: inherit;
    background: none;
    cursor: pointer;
    padding: 25px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #fcad26;
    color: #fff;
}

fieldset {
    display: flex;
    border-color: #fcad26;
}

fieldset legend {
    font-size: 1.5em;
}

textarea {
    width: 100%;
    height: 50vw;
    background: transparent;
    border: none;
    font-size: 2em;
    resize: none;
    color: white;
}